
<style type="text/css">
  body { background: lightskyblue !important; }
  table { background: aliceblue !important; }
  /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<p id="notice"><%= notice %></p>

<h1>Carts</h1>
<div class="container">


  <table class="table table-striped">


      <thead>
      <tr>
        <th>poduct name</th>
        <th>product price</th>
        <th>cart_id</th>
        <th>links</th>
      </tr>
      </thead>


  <tbody>


    <% @carts.each do |cart| %>

  <%cart.items.each do |item|%>

<tr>

  <td> <%=item.product.name%>&nbsp</td>
  <td> <%#=Product.find(item.product_id).name%> &nbsp &nbsp
    <%=item.product.price%> </td>
          <td><%=item.cart_id%>&nbsp &nbsp&nbsp &nbsp  <%#=session[:cart_id]%></td>



       <td><%= link_to 'Show', cart %>
        <%= link_to 'Edit', edit_cart_path(cart) %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
  <br>
    <% end %>
  <%end%>
  <tr>
    <td> <%= button_to 'New Cart', new_cart_path ,:method=>"get"%></td>
    <td> <%= button_to'addto cart', products_path , :method=>"get"%></td>
  </tr>
  </tr>

  </tbody>
</table>






<%#=session[:cart_id]%>
</div>