<style type="text/css">
  body { background: lightgray !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="container">
  <h2>Bordered Table</h2>
  <p>The .table-bordered class adds borders to a table:</p>
  <table class="table table-bordered",>

  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th >product id </th>
      <th >links</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.id %></td>

        <td><%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= button_to 'add to cart', items_path(:product_id=> product.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $("table").hide();
        });
        $("#show").click(function(){
            $("table").css.bbackground_color="red"
            $("table").show();
        });
    });
</script>
</head>
<body>

<p>If you click on the "Hide" button, I will disappear.</p>

<button id="hide">Hide</button>
<button id="show">Show</button>

<%= link_to 'New Product', new_product_path %><br>

Price : <%=@prc%><br>
<%=price%>

